BabyDevelopUserRC-File
syntaxHighlighting=1
n.c.=n.c.
n.c.=n.c.
autoSpeichern=1
browserBefehl="C:/Programme/Internet Explorer/IEXPLORE.EXE"
n.c.=n.c.
n.c.=n.c.
n.c.=n.c.
n.c.=n.c.
n.c.=n.c.
n.c.=n.c.
